@import (reference) '../../styles/index.less';

.postCard{
     margin-top: 20px;
    
    .postCardImg{
        width: 100%;
        height: 164px;
        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: 1px 3px 16px #a7a7a7;
        background-size: cover
    }
    .mrTp20{
        margin-top: 20px
    }
    .dateHolder{
        background: #ebbaa1;
        color: white;
        padding: 6px;
        border-radius: 7px;
        font-size: 11px
    }
    a{
        color: rgba(0, 0, 0, 0.65);
        &:hover{
            color: rgba(0, 0, 0, 0.65);
        }
    }
}
